.container{
    background-color: red;
    width: 50%;
    height: 70vh;
    display: flex;
    position: relative;
}

.scrollbar{
    width: 100%;
    height: 50px;
    background-color: black;
    position: absolute;
    bottom: 0;
    color: white;
    display: flex
    ;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    
}

.fake-border{display:flex;
    width:100%;
    border: 1px solid white;
    flex-direction: row-reverse;
    gap:1px


}

.border{

    width: calc(100% - 20px);     
    width:20px;
    background:yellow;
    z-index: 1;
    height: 100%;
    cursor: ew-resize;
    border-right: 2px solid white;
    flex-shrink: 0;        /* prevent shrinking */
    margin-left: auto;

    
}

.scroller{
    flex: 1;
    background-color: gray;
    min-width: 0;
    cursor: grab;
}
